pytest==6.2.2
requests_mock==1.9.3
polling2==0.5.0
flake8==4.0.1
black==22.3.0
pre-commit==2.19.0
nbconvert==6.3.0
Jinja2==2.11.3
requests>=2.4.2 
bs4>=0.0.1 
polling2
apache-airflow==2.2.4
dominodatalab-data>=0.1.0